.Menu-container {
  padding: 2rem;
  background-color: #dbc3b6;
}

.menu-section {
  margin-bottom: 3rem;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
  padding: 1rem;
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.likes, .price {
  background: #eee;
  padding: 4px 8px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.8rem;
}

.card h3 {
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
}

.buy-btn {
  background-color: #6f4e37;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.buy-btn:hover {
  background-color: #543c2b;
}
